body{
    margin: 0;
    font-family: Inter;
    font-size: 45px;
}

.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.display-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.color_white{
    color: white;
}

.header{
    width: 100vw;
    height: 22vh;
    background: #8D8484;
}

.section{
    display: flex;
    width: 100vw;
    height: 56vh;
}

.section_content{
    width: 73vw;
    height: 56vh;
    flex-direction: column;
}

.content_1{
    background: #776969;
    width: 73vw;
    height: 19vh;
}

.content_2{
    background: #643030;
    width: 73vw;
    height: 20vh;
}

.content_3{
    background: #441818;
    width: 73vw;
    height: 17vh;
}

.section_spam{
    flex-direction: column;
    width: 27vw;
    height: 56vh;
    background: #B7AEAE;
}

.spam_1{
    width: 27vw;
    height: 28vh;
    background: #937575;
}

.spam_2{
    width: 27vw;
    height: 28vh;
    background: #644C4C;
}

.footer{
    width: 100vw;
    height: 22vh;
    background: #BDBDBD;
}
