body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

.main{
    width: 100vw;
    height: 100vh;
    background-color: #6dc9e5;
}

.d-flex {
    display: flex;
}

.display-center{
    justify-content: center;
    align-items: center;}

.container{
    width: 500px;
    height: 420px;
    background-color: white;
    flex-direction: column;
    border-radius: 10px;
}

.container:hover{
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: black 0px 0px 15px;
}

header{
    width: 100%;
    height: 80px;
    border-radius: 10px;
    margin-bottom: 15px;
}

header h1{
    font-size: 30px;
    margin-left: 40px;
}

span{
    margin-left: 20px;
}

.user_fullname input{
    width: 400px;
    height: 45px;
    font-size: 14px;
    transition: 0.5s;
}

.user_fullname:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

.user_email input{
    margin-top: 30px;
    width: 400px;
    height: 45px;
    font-size: 14px;
}

.user_email:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

.user_password input{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 400px;
    height: 45px;
    font-size: 14px;
}

.user_password:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

.button{
    border: none;
    background-color: white;
}

.btn{
    margin-left: 90px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: #e7a62e solid 2px;
    background-color: #f2f5f5;
    font-size: 20px;
    font-weight: bold;
}

.footer_button{
    width: 100%;
    margin-left: 160px;
}

.footer_button.button{
    width: 200px;
    height: 20px;
}

.footer_button input:hover{
    transform: scale(1.1);
    transition: 0.5s;
    background-color: #efa925;
    color: black;
    font-size: 20px;
}
