/* Reset start */
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    margin: 0;
    color: #212121;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

#style-1::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Reset end */

/* Default classes start */
.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-uppercase {
    text-transform: uppercase;
}

/* Default classes end */

main {
    max-width: 100vw;
}

.header-content {
    background: linear-gradient(229deg, #0047FF 0%, #00BCD4 100%);
    height: 37px;
}

.header-content p {
    font-size: 17px;
}

.header-content p a:hover {
    color: #a3a6af;
}

.container_nav {
    height: 67px;
    background: rgba(0, 0, 0, 0.90);
}

.logo {
    margin: 22px 0 18px 17vw;
}

.logo a img {
    width: 187px;
    height: 27px;
}

.header-nav {
    margin-right: 17vw;
    color: #a3a6af;
}

.header-nav a + a {
    margin-left: 50px;
}

.header-nav a:hover {
    color: #087ad7;
}

.hero_content {
    height: 704px;
    background: rgba(0, 0, 0, 0.90);
    color: #fff;
}

.hero_text_h {
    margin-top: 220px;
    font-size: 35px;
    line-height: 1.2;
    margin-bottom: 50px;
}

.hero_text_p {
    font-size: 21px;
    line-height: 1.1;
    margin-bottom: 80px;
}

.hero_btn {
    margin-bottom: 80px;
    color: white;
    width: 400px;
    height: 50px;
}

.btn_left {
    font-size: 15px;
    width: 200px;
    display: inline-flex;
    margin-right: 30px;
    padding: 16px 22px;
    align-items: flex-start;
    border-radius: 36px;
    border: 1px solid #ffffff;
    background: rgba(0, 0, 0, 0.90);
    transition: 1s;
}

.btn_left:hover {
    background: linear-gradient(152deg, #8C01FA 0%, #000 100%);
    transition: 1s;
    transform: scale(1.05);
    border: none;
}

.btn_right {
    font-size: 15px;
    width: 200px;
    display: inline-flex;
    margin-right: 30px;
    padding: 16px 22px;
    align-items: flex-start;
    border-radius: 36px;
    border: 1px solid #ffffff;
    background: rgba(0, 0, 0, 0.90);
}

.btn_right:hover {
    background: linear-gradient(152deg, #8C01FA 0%, #000 100%);
    transition: 1s;
    transform: scale(1.05);
    border: none;
}

.content_footer {
    width: 100vw;
    font-size: 15px;
    color: #618ADC;
    margin-bottom: 20px;
}

.client {
    width: 100vw;
    height: 90px;
    background: rgba(0, 0, 0, 0.90);
}

.image_logos {
    margin-top: 30px;
    width: 100vw;
    column-gap: 10px;
}

.image_logos a {
    transition: 1s;
}

.image_logos a:hover {
    transition: 1s;
    transform: scale(1.1);
}

.image_logos a + a {
    margin-left: 30px;
}

.community {
    width: 100vw;
    height: 1500px;
    background: rgba(0, 0, 0, 0.90);
    color: #fff;
    padding-top: 140px;
}

.community_top {
    width: 70vw;
    height: 503px;
}

.community_p {
    font-size: 38px;
    padding: 75px 60px 0 0;
    margin-left: 0;
}

.community_number{
    margin-left: 100px;
}

.number_1 {
    font-size: 101px;
    background: linear-gradient(228deg, #19FB9B 0%, #8C01FA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text_below_p {
    margin-bottom: 60px;
    font-size: 16px;
}

.number_2 {
    font-size: 101px;
    background: linear-gradient(229deg, #0047FF 0%, #00BCD4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.number_3 {
    font-size: 101px;
    background: linear-gradient(222deg, #00FFBD 0%, #025B8C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.community_bottom {
    width: 70vw;
    height: 1200px;
    margin-top: 100px;
}

.community_column_1{
    width: 33vw;
    margin-left: 0;
}


.text_below0{
    font-size: 16px;
}

.community_header {
    font-size: 28px;
    margin: 100px 0 5px 0;
}

.text_below1 {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 5px;
}

.text_below {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 5px;
}

.column_2{
    width: 33vw;
}

.column_3{
    width: 33vw;
}

.community_header2 {
    font-size: 28px;
    margin: 30px 0 5px 0;
}

.community_header3 {
    font-size: 28px;
    margin: 10px 0 5px 0;
}

span {
    color: #19FB9B;
    text-decoration: underline;
}

.build{
    width: 100vw;
    background: rgba(0, 0, 0, 0.90);
    color: #fff;
}

.build_container{
    width: 70vw;
    height: 1750px;
}

.build_header{
    margin-bottom: 20px;
}

.build_nav_img{
    width: 70vw;
    height: 450px;
    margin-bottom: 130px;
    margin-top: 100px;
}

.build_header p {
    color: white;
    font-size: 39px;
    margin-right: 150px;
}

.build_header a{
    padding: 10px;
}

.last_a{
    margin-right: 100px;
}

.build_header a:hover {
    border: #8C01FAFF 2px solid;
    border-radius: 20px;
    font-size: 16px;
}

.img_container{
    margin-bottom: 40px;
}

.img_left img{
    width: 30vw;
}

.img_right{
    width: 50vw;
    height: 200px;
    margin-left: 40px;
}

.img_right img{
    width: 40%;
    margin-bottom: 20px;
}

.img_right p{
    font-size: 21px;
    line-height: 27px;
    margin-bottom: 20px;
}

.img_right p a{
    color: #8C01FA;
}

.img_right p a:hover{
    color: #087ad7;
}

.img_footer_logo{
    width: 70vw;
}

.img_footer_logo img + img{
    margin-left: 170px;
}

.community_footer{
    width: 100vw;
    height: 90vh;
    margin-bottom: 30px;
    justify-content: space-between;
    overflow-y: hidden;
    overflow-x: hidden;
}

.community_column1{
    margin-left: -2vw;
}

.community_column1_top{
    width: 18vw;
    margin-left: 0;
}

.community_column1_number{
    font-size: 37px;
    color: #F087FF;
    margin-top: 40px;
    margin-bottom: 30px;
}

.text_below_upper{
    font-size: 12px;
}

.community_column1_bottom img{
    width: 16.7vw;
    margin-top: 20px;
}

.community_column2 img{
   width: 33.3vw;
}

.community_column3_top img{
    width: 16.7vw;
}

.community_column3_number{
    font-size: 37px;
    color: #19FB9B;
    margin-top: 40px;
    margin-bottom: 30px;
}

.text_below_down{
    font-size: 12px;
}

.community_column4 img{
    width: 16.9vw;
}

.community_column5 {
    margin-right: -2vw;
}

.community_column5_number{
    font-size: 37px;
    color: #FFEB3B;
    margin-top: 40px;
    margin-bottom: 30px;
}

.text_below_upper{
    font-size: 12px;
}

.community_column5_bottom img{
    margin-top: 20px;
    width: 14vw;
    height: 24vh;
}

.community_qoute{
    margin-top: 80px;
    width: 70vw;
    height: 200px;
}

.community_qoute p{
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 30px;
}

.frame_footer{
    margin-top: 150px;
    width: 70vw;
    height: 400px;
    margin-bottom: 70px;
}

.footer_column1{
    width: 20vw;
}

.footer_column1_logo{
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer_column1_header{
    margin: 20px 0;
    font-size: 16px;
    color: #fff;
}

.footer_column1_logo img{
    background: #848895;
    width: 22px;
    height: 16px;
    margin-right: 10px;
}

.footer_column1_logo img:hover{
    background: #087ad7;
}

.footer_column1_bottom{
    color: #848895;
    font-size: 12px;
}

.footer_column2{
    width: 20vw;
}

.footer_column3{
    width: 10vw;
}

.footer_column3 a{
    color: #848895;
    font-size: 12px;
    margin-top: 20px;
}

.footer_column3 a:hover{
    color: #087ad7;
}

.footer_column4{
    width: 10vw;
}
.footer_column4 a{
    color: #848895;
    font-size: 12px;
    margin-top: 20px;
}

.footer_column4 a:hover{
    color: #087ad7;
}

.footer_column5{
    width: 10vw;
}

.footer_column5 img{
    width: 16px;
    height: 16px;
    margin-right: 2px;
}

.footer_column5 a{
    color: #848895;
    font-size: 12px;
    margin-top: 3px;
}

.footer_column5 a:hover{
    color: #087ad7;
}


.scrollbar {
    background-color: #F5F5F5;
    float: left;
    height: 300px;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 40px;
    width: 65px;
    overflow-y: scroll;
}

.force-overflow {
    min-height: 450px;
}